body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(3, 115, 129);
    margin: 0;
    padding: 0;
    background-color: #f2e9fa;
}
h1, h2, h3{
    font-family: 'Roboto' sans-serif;
}
.wireframe img{
    display: block;
    margin:  10px 0;
}