body{
font-family: "Oswald", sans-serif;
font-weight: 400;
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
background-color: rgb(208, 221, 217);
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
padding: 15px;
font-weight: 200;
font-size: 1.5rem;
}
h2{
    border-radius: 10px;
    background-color: #b3b6b9;
    margin-top: auto;
    
}
.profile-pic{
    padding: 10px;
}
.box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav{
background-color: aliceblue;
}
nav ul{
list-style-type: none;
padding: 0;
display: flex;
justify-content: center;
}
nav li{
padding: 10px 20px;
}
nav ul li a.active{
color: aquamarine;
}
nav a{
    color: rgb(32, 118, 158);
    text-decoration: none;
}
nav button{
    display: none; /* hides in large screns */
    border: none; 
    padding: 10px;
    color: black;
    background: rgb(222, 235, 243);
}
#menu_btn {
    display: none;
    font-size: 1.5rem;
    margin: 10px;
    background: none;
    border: none;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
section{
    
    
    padding: 15px;
    border-radius: 5px;
    background: #f4f4f4;
    box-shadow: solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#courses, #location{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}
location img{
    width: 100%;
    border-radius: 5px;
}
#cert{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.course-filter{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    
}
.course-filter button {
    margin: 0.5rem;
    padding: 10px 20px;
    border: none;
    color: rgb(37, 148, 129);
    cursor: pointer;
    background-color: #d6cddf;
}
.course-filter button:hover{
    color: rgb(230, 19, 71);
    background: #7f32cc;
}
#course-list {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 10px 30px;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}
@media (max-width: 600px){
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    nav ul li {
        margin: 10px;
    }

    #menu-btn {
        display: block;
    }
}
    #course-list {
        justify-content: center;
    }

    .course {
        width: 200px;
    }

footer{
    background-color: rgb(60, 243, 219);
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}